* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.container {
    width: 80%;
    margin: auto;
}

.main {
    height: 100%;
    width: 1px;
    transition: width 1s;
    border-width: 1px;
    border-style: solid;
}

.title {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 2px;
}

#nav {
    list-style: none;
    width: 100%;
    margin: 20px auto;
}

.sort {
    display: inline-block;
    width: 200px;
}

#content {
    margin-top: 10px;
}

.nav-item {
    text-align: center;
    float: left;
    padding: 0 10px;
    border-left: 1px solid #ccc;
}

.selected {
    background-color: #00f;
}

.selected a.item {
    color: #fff;
}

a {
    text-decoration: none;
    color: #000;
}

.sort a {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 2px;
}

.category, .stock {
    height: 20px;
    margin-bottom: 3px;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}

.category:hover, .stock:hover {
    /*border: 1px solid #000;*/
}

.clearfix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.loading-box {
    background-image: url(../images/waiting.gif);
    position: absolute;
    width: 235px;
    height: 145px;
    left: 50%;
    top: 50%;
    margin-left: -117px;
    margin-top: -72px;
}

#mask {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 250, 250, 0.5);
}

#detail {
    background-color: #333;
    color: #fff;
    display: none;
    width: 180px;
    height: 80px;
    position: absolute;
    left: 100px;
    top: 200px;
    padding: 10px;
}

#detail h3 {
    color: yellow;
    margin-bottom: 10px;
}

.up .price {
    color: #f00;
}

.up .price:after, a.asc:after {
    content: '↑'
}

.down .price {
    color: #0f0;
}

.down .price:after, a.desc:after {
    content: '↓'
}

.up .main {
    border-color: #f00;
}

.down .main {
    border-color: #0f0;
}

.icon-back, .icon-refresh {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url(../images/glyphicons-halflings.png);
    background-repeat: no-repeat;
    margin-top: 1px;
}

.icon-back {
    background-position: -432px -72px;
}

.icon-refresh {
    background-position: -240px -24px;
}

.btn-group {
    position: relative;
    display: inline-block;
    width: 200px;
}

.btn {
    display: inline-block;
    padding: 2px 4px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}