* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.container {
    width: 80%;
    margin: auto;
}

.main {
    height: 100%;
    width: 1px;
    transition: width 1s;
}

.title {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 5px;
}

#nav {
    list-style: none;
    width: 100%;
    margin: 20px auto;
}

.nav-item {
    text-align: center;
    float: left;
    padding: 0 10px;
    border-left: 1px solid #ccc;
}

.selected {
    background-color: #00f;
}

.selected a.item {
    color: #fff;
}

a.item {
    text-decoration: none;
    color: #000;
}

.category, .stock {
    height: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}

.category:hover, .stock:hover {
    /*border: 1px solid #000;*/
}

.clearfix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.loading-box {
    background-image: url(../images/waiting.gif);
    position: absolute;
    width: 235px;
    height: 145px;
    left: 50%;
    top: 50%;
    margin-left: -117px;
    margin-top: -72px;
}

#mask {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 250, 250, 0.5);
}

#detail {
    background-color: #333;
    color: #fff;
    display: none;
    width: 180px;
    height: 80px;
    position: absolute;
    left: 100px;
    top: 200px;
    padding: 10px;
}

#detail h3 {
    color: yellow;
    margin-bottom: 10px;
}

.up .price {
    color: #f00;
}

.up .price:after {
    content: '↑'
}

.down .price {
    color: #0f0;
}

.down .price:after {
    content: '↓'
}

.up .main {
    border: 1px solid #f00;
}

.down .main {
    border: 1px solid #0f0;
}